This is application.hbs

<p>
myNumber is {{myNumber}}
</p>

<p>These two way data bindings work.</p>
<ol>
<li>{{input value=rate}}</li>
<li>{{input value=cashFlow}}</li>
<li>{{input value=numberOfPeriods}}</li>
</ol>

<p>You can see them update in this future-value component.  But the computed fv does not update.</p>
<p>
  {{future-value rate=rate cashFlow=cashFlow numberOfPeriods=numberOfPeriods}}
</p>
